*{
    padding: 0px;
    margin:0px;
    font-family:'poppins',sans-serif;
    background-color: rgb(4, 4, 43);
    color: white;
    font-size:23px;
}
.navbar{
    text-align:right;
    margin-top: -30px;
    text-decoration: none;
    font-weight: 600px;
}
.header{
   margin-top: 40px;
}
h2{
    margin-left:80px;
    margin-top:130px;
    font-size:40px;
}
h3{
    margin-left:80px;
    margin-top:10px;
    font-size:22px;
}
.image{
    margin-top: 160px;
   margin-left:150px;
   

}
.git{
    margin-top: -161px;
    margin-left:400px;
}
.mail{
    margin-top: -135px;
    margin-left:650px;
   
   }
   pre
   {
   margin-top: -1px;
    margin-left:550px;
   }
   p{
       margin-left: 80px;
       width: 45%;
       margin-top: 10px;
   }
